/* ==========================================================================
   DOCUMENT INFORMATION
   ========================================================================== */
/*
- Vluxe CSS
*/

/* CSS Document */

.fakeFill {
  height: 800px;
}
.block--hero,
.block--heroish,
.block--ratio,
.block--square {
  color: #FFF;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.block {
display: block;
position: relative;
}
.mainHeroText {
  font-size: 124px;
}
.secondHeroText {
  font-size: 40px;
  margin-top: 20px;
}
.heroTextBlock {
  position: relative;
  top: 350px;
}
.mainSectionContainer {
  background-color: #FFF;
}
.mainHeader {
  margin-bottom: 30px;
  font-size: 68px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.mainBreak {
  margin-bottom: 30px;
}
.secondTextBlock {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.2;
}
.topPad {
  margin-top: 100px;
}
.bottomPad {
  margin-top: 130px;
}
.btnStyle {
  margin-top: 30px;
  font-size: 24px;
}
.redColor {
  color:#e31431;
}
.greenColor {
  color:#25be53;
}
.blueColor {
  color:#0095d4;
}
.yellowColor {
  color:#fddd2c;
}
.purpleColor {
  color:#83439f;
}
.whiteColor {
  color:#FFF;
}
.grayColor {
  color: #969696;
}
.graybg {
  /*background-color: #DFDFDF;*/
  background-color: #F6F5F3;
}
.redbg {
  background-color: #e31431;
}
.bluebg {
  background-color: #0095d4;
}
.purplebg {
  background-color: #83439f;
}
.yellowbg {
  background-color:#fddd2c;
}
.greenbg {
  background-color:#25be53;
}
.centerContent {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  height: 200px;
  width: 200px;
  color: #000;
}
.footer {
  background-color: #1f1f1f;
  height: 400px; /* temp */
}
.dividerLine {
  height: 2px;
}
.teampic {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: auto;
}

@media only screen and (min-width: 1024px) {
  .block__inner,
  .footer__inner {
    max-width: 1020px;
  }
}

@media only screen and (min-width: 1280px) {
  .block__inner,
  .footer__inner {
    max-width: 1120px;
    }
}

@media only screen and (min-width: 1440px) {
  .block__inner,
  .footer__inner {
    max-width: 1280px;
  }
}

.mainHeroText {
  font-size: 124px;
}

.secondHeroText {
  font-size: 40px;
  margin-top: 20px;
}

.heroTextBlock {
  position: relative;
  top: 350px;
}

.mainAboutUs {
  padding-top: 100px;
/*  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFF;*/
}

body
{
  /*font-family: 'Lato', sans-serif;*/
  line-height: 1.8;
  font-size: 18px;
}

/*----- Nav -----*/

.top {
  position:fixed;
  z-index:999;
  width:100%;
}

/*practice*/
#nav-wrapper {
  background: #1f1f1f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#nav > ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav > ul > li {
  display: inline-block;
  border-right: 1px solid;
  border-color: rgba(255,255,255,.1);
}

#nav > ul > li:last-child {
  padding-right: 0;
  border-right: none;
}

#nav > ul > li > a,
#nav > ul > li > span {
  display: inline-block;
  padding: 1.8em 1.8em;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  outline: 0;
  color: #FFF;
}

#nav li.active a
{
  color: #FFF;
}

#nav > ul > li > ul
{
  display: none;
}

#nav li a#greenNav:hover {
  color:#25be53;
}

#nav li a#purpNav:hover {
  color:#83439f;
}

#nav li a#blueNav:hover {
  color:#0095d4;
}

#nav li a#redNav:hover {
  color:#e31431;
}

#nav li a#yellowNav:hover {
  color:#fddd2c;
}



/*----- Header Slider----*/
.banner {
  position: relative;
  text-align: center;
  color: #fff;
  min-height: 700px;
  background:#000;
}

.banner .container {
  position: absolute;
  width: 100%;
  top: 49%;
}

.banner .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  background-attachment:fixed;
}

.banner .carousel-fade .carousel-inner .active {
  opacity: 1;
}

.banner .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.banner .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.banner .carousel-fade .carousel-control {
  z-index: 2;
}


.banner .carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner .carousel-inner > .item {
  background-size: cover;
  background-position: center;
  min-height: 700px;
}

.banner .carousel-indicators {
  bottom: 4%;
}

.banner .carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #fff;
  opacity:.3;
  border-radius: 10px;
}

.banner .carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 3px;
  background: none;
  opacity:1;
  border: 2px solid #1f1f1f;
}

/*text content on banner*/
.content {
  margin:0 auto;
  text-align:center;
  z-index:10;
  width:100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.content h1 {
  font-size:60px;
  color:#fff;
  font-weight:900;
  margin:0px;
  text-shadow:1px 2px 2px rgba(0,0,0,.6);
}

.content h2 {
  font-size:40px;
  color:#fff;
  font-weight:900;
  margin:0px;
  text-shadow:1px 2px 2px rgba(0,0,0,.6);
}

/*bg colors for packages*/

.bgred {
  background:#e25858;
}

.bggreen {
  background-color:#6ad993;
}

.bgblue {
  background-color:#6abbd9;
}

.bgorange {
  background-color:#f87c45;
}

.bgpgreen {
  background-color:#98d96a;
}

.bgyellow {
  background-color:#fccf3c;
}

.bggray {
  background-color:#424a56;
}

@media (min-width: 768px) {
  .banner .carousel-fade .carousel-inner .item {
    background-attachment:scroll;
  }

  .nav {
    font-size:14px;
    color:#fff;
    text-align:center;
    margin-top:10px;
  }

  .nav ul {
    padding:0px;
    margin:0px;
    list-style:none;
    text-align:center;
  }

  .nav li {
    display:inline-block;
    margin-right:10px;
  }

  .nav li:last-child {
    margin-right:0px;
  }

  .nav a {
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:900;
  }

  .nav a:hover {
    color:#ff9f74;
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .banner .carousel-fade .carousel-inner .item {
    background-attachment:scroll;
  }

  .nav {
    font-size:14px;
    color:#fff;
    text-align:center;
    margin-top:20px;
  }

  .nav ul {
    padding:0px;
    margin:0px;
    list-style:none;
    text-align:center;
  }

  .nav li {
    display:inline-block;
    margin-right:10px;
  }

  .nav li:last-child {
    margin-right:0px;
  }

  .nav a {
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:900;
  }

  .nav a:hover {
    color:#ff9f74;
  }

  #titleBar {
    background: #161616;
  }

  #titleBar .title a {
    display: block;
    color: #fff;
    text-align: center;
    line-height: 44px;
    font-weight: 300;
    text-decoration: none;
  }

  #titleBar .tag {
    display: none;
  }

  #titleBar .toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 60px;
  }

  #titleBar .toggle:after {
    content: '';
    display: block;
    width: 20px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 15px;
    background: url('images/toggle.svg') 0px 0px no-repeat;
    opacity: 0.5;
  }

  #titleBar .toggle:active:after {
    opacity: 0.75;
  }

  #navPanel {
    background: #1f1f1f;
  }

  #navPanel .link {
    display: block;
    color: #888;
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    border-top: solid 1px;
    border-color: rgba(255,255,255,.05);
    padding: 0 1em 0 1em;
    letter-spacing: 1px;
  }

  #navPanel .link:first-child {
    border-top: 0;
  }

  #navPanel .link.depth-0 {
    color: #fff;
  }

  #navPanel .indent-1 { display: inline-block; width: 1em; }
  #navPanel .indent-2 { display: inline-block; width: 2em; }
  #navPanel .indent-3 { display: inline-block; width: 3em; }
  #navPanel .indent-4 { display: inline-block; width: 4em; }
  #navPanel .indent-5 { display: inline-block; width: 5em; }
  #navPanel .depth-0 { color: #fff; }

  #header {
    height: 10em;
    padding: 0;
    background-position: center center;
    background-attachment: scroll;
  }

  #nav {
    display: none;
  }

  .banner .carousel-indicators {
    top: 600px;
  }

  .content {
    margin:0 auto;
    text-align:center;
    z-index:10;
    width:100%;
    top: 50%;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .content h1 {
    font-size:30px;
    line-height:30px;
    color:#fff;
    font-weight:900;
    margin:0px;
    text-shadow:1px 2px 2px rgba(0,0,0,.6);
  }

  .content h2 {
    font-size:20px;
    color:#fff;
    font-weight:900;
    margin:0px;
    margin-top:15px;
    text-shadow:1px 2px 2px rgba(0,0,0,.6);
  }
}

/* ==========================================================================
   Ported from old Vluxe site
   ========================================================================== */

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #8E44AD;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #8E44AD;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  font-size: 18px;
}

.header {
  margin-top: 40px;
}

.headerText {
  margin-top: 70px;
  font-size: 24px;
  margin-bottom: 40px;
}

#post-content {
  margin-top: 40px;
}

.mainPost {
  font-size: 20px;
}
.post {
  /*margin-bottom: 40px;*/
}

.postHeader {
  padding-top: 100px;
}

.postDate {
  font-size: 18px;
  color: #898988;
}

a:hover {
  text-decoration: none !important;
}

/* ==========================================================================

   ========================================================================== */