---
layout: default
title: vluxe.io
---
<section id="post-content">
  <div class="row">
    <div class="mainPost post col-md-12">
      {% assign mainPost = site.posts.first %}
      <a href="{{ mainPost.url }}"><h1>{{ mainPost.title }}</h1></a>
      <p class="postDate">{{ mainPost.date | date: "%b %-d, %Y" }} </p>
      <p>{{ mainPost.summary }} </p>
      <a href="{{ mainPost.url }}"><h3>Read more</h3></a>
    </div>
  </div>
  {% for post in site.posts %}
    {% if post != mainPost %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'odd' %}
        <div class="row">
      {% endif %}
        <div class="post col-md-6">
          <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
          <p class="postDate">{{ post.date | date: "%b %-d, %Y" }} </p>
          <p>{{ post.summary }} </p>
          <a href="{{ post.url }}"><h4>Read more</h4></a>
        </div>
      {% if thecycle == 'even' %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</section>
