<footer>
    <div class='container'>
        <div class='footer-nav'>
            <ul>
                <li><a href='#'>Blog</a></li>
                 <li><a href="https://github.com/vluxe">GitHub</a></li>
                <li><a href="https://www.facebook.com/vluxe">Facebook</a></li>
                <li><a href="https://twitter.com/vluxeio">Twitter</a></li>
            </ul>
            <ul>
                <li>&#169; 2015 Vluxe</li>
            </ul>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>

</html>